{% extends "base.html" %}
{% block body %}
<style>
  .title-word {
  animation: color-animation 3s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}
@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */

.container {
  display: grid;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3vw;
  text-transform: uppercase;
}
<style>

.main-heading {
  opacity: 1;
  position: absolute;
  width: 50%;
  font-size: 3rem;
  z-index: 100;
  top: 2em;
  left: 2em;
  color: #FFFFFF;
}
/* BG SLIDESHOW CSS */
.slideshow,
.slideshow::after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0px;
}
.slideshow::after {
  content: '';
  background: linear-gradient(-70deg, rgba(0,0,0,0), rgba(0,0,0,1));
}
.img-bg-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent; /*hides span's text*/
  background-size: cover; /* covers whole viewport */
  background-position: 100% 100%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: backgroundSlideshow 60s linear infinite 0s;
}
.slideshow li:nth-child(1) .img-bg-slide {
   background-image: url('https://i.imgur.com/8TrVYTS.jpg');
}
.slideshow li:nth-child(2) .img-bg-slide {
    background-image: url('https://i.imgur.com/DDa43Fn.jpg');
    animation-delay: 15s;
}
.slideshow li:nth-child(3) .img-bg-slide {
    background-image: url('https://i.imgur.com/KxOhxyk.jpg');
    animation-delay: 30s;
}
.slideshow li:nth-child(4) .img-bg-slide {
    background-image: url('https://i.imgur.com/R0jp6Br.jpg');
    animation-delay: 45s;
}
@keyframes backgroundSlideshow {
  0% { opacity: 0;}
  12.5% { opacity: 1;}
  25% { opacity: 1;}
  37.5% { opacity: 0;}
  100% { opacity: 0;}
}
/* End of BG SLIDESHOW */
.button{
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #00000;
            outline: 4px solid #800000;
            padding: 10px 35px;
            position: relative;
            overflow: hidden;
            transition: color 1s;
            background-color: #4CAF50;
            font-size: 20px;
        }
        .button:hover{
            color: #fff;
        }
        .button::before{
            content: '';
            position: absolute;
            top: 0;
            left: -50px;
            width: 0;
            height: 100%;
            background-color: #008000;
            transform: skewX(35deg);
            z-index: -1;
            transition: width 1s;
        }
        .button:hover::backdrop{
            width: 150%;
        }
        *{
    margin: 0;
    padding: 0;
}
div.main{
    width: 900px;
	height: 100%;
   margin-top: 50px;
   margin-left: 90px;
   margin-bottom: 30px;
}
h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}
div.register{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color: #fff;
}
label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}
input#name{
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline:0;
    padding: 7px;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0,0.3) ;
}
input#submit{
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 3px;
    background-color: rgb(255,100,0,0.8);
    color: #fff;
    cursor:pointer;
    border: 1px solid
     rgba(255,255,255,0.3);
    box-shadow: 1px 1px 5px rgb(0,0,0,0.3);
    margin-bottom: 20px;
}
label,span,h2{
    text-shadow: 1px 1px 5px rgb(0,0,0,0.3);
}

</style>
<div class="main">
    <div class="register">
  <h2 class="title">
    <span class="title-word title-word-1">Employer</span>
    <span class="title-word title-word-3">Registration</span>
  </h2>
{% if msf%}
<p style="text-align:center;">{{msg}}</p>
{%endif%}
<div style="width:60%;margin:0 auto;">
      <form action="{% url 'ereg' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label>Enter Firm/Company Name</label>
            <input type="text" name="firmname" required="true" class="form-control" placeholder="Enter Firm/Company Name"/>
        </div>
        <div class="form-group">
            <label>Enter Nature Of Work</label>
            <input type="text" name="firmwork" required="true" class="form-control" placeholder="Enter Nature Of Work"/>
        </div>
        <div class="form-group">
            <label>Enter Firm Address</label>
            <textarea type="text" name="firmaddress" required="true" class="form-control" placeholder="Enter Firm Address"></textarea>
        </div>
        <div class="form-group">
            <label>Enter Contact Person Name</label>
            <input type="text" name="cpname" required="true" class="form-control" placeholder="Enter Contact Person Name"/>
        </div>
        <div class="form-group">
            <label>Enter Contact No.</label>
            <input type="number" name="cpcontactno" class="form-control" required="true" placeholder="As +91 1234567890"/>
        </div>
        <div class="form-group">
            <label>Enter Contact Person Email Address</label>
            <input type="email" name="cpemailaddress" required="true" class="form-control" placeholder="Enter Contact Person Email Address"/>
        </div>
        <div class="form-group">
            <label>Enter Aadhar Number</label>
            <input type="number" name="aadharno" required="true" class="form-control" placeholder="Ex:- xxxx xxxx xxxx"/>
        </div>
        <div class="form-group">
            <label>Enter PAN Number</label>
            <input type="text" name="panno" required="true" class="form-control" placeholder="Ex:- XXXXXXXXXX"/>
        </div>
        <div class="form-group">
            <label>Enter GST Number </label>
            <input type="text" name="gstno" required="true" class="form-control" placeholder="Ex:- xxxxxxxxxxx"/>
        </div>
        <div class="form-group">
            <label>Enter Password </label>
            <input type="password" name="password" required="true" class="form-control" placeholder="Ex:- AbcD@3_d45"/>
        </div>
            <br>
            <input type="submit" valu="Registar" class="btn button">
    </form>
    <br>
</div>
    </div>
</div>
{% endblock body %}