<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="reg.css" type="text/css">
</head>
<body>
    <div class="main">
        <div class="register">
            <h2>Registration Here</h2>
            {% if msg %}
            <p style="text-align:center;">{{msg}}</p>
            {% endif %}
            <div style="width:60%; margin:0 auto;">
            <form action="{% url 'jsreg' %}" id="register" method="post"></form>
            <div class="form-group">
              <label>Enter Your Name</label>
              <input type="text" name="name" class="form-control" required="true"/>
            </div>
            <div class="form-group">
              <label>Select Your Gender</label>
              </br>
              <input type="radio" name="gender" value="Male"/>Male
              <input type="radio" name="gender" value="Female"/>Female
            </div>
            <div class="form-group">
              <label>Enter Your Address</label>
              <textarea name="address" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label>Enter Your Contact No.</label>
              <input type="number" name="contactno" class="form-control" required="true"/>
            </div>
            <div class="form-group">
              <label>Enter Your Email Address</label>
              <input type="email" name="emailaddress" class="form-control" required="true"/>
            </div>
            <div class="form-group">
              <label>Enter Your Date Of Birth</label>
              <input type="date" name="dob" class="form-control">
            </div>
            <div class="form-group">
              <label>Select Qualification</label>
              <select name="qualification" class="form-control">
                <option>-Select-</option>
                <option>Diploma</option>
                <option>B.Tech</option>
                <option>B.C.A</option>
                <option>M.Tech</option>
                <option>M.C.A</option>
              </select>
            </div>
            <div class="form-group">
              <label>Select Experience</label>
              <select name="experience" class="form-control">
                <option>0 Year</option>
                <option>1 Year</option>
                <option>2 Years</option>
                <option>3 Years</option>
                <option>4 Years</option>
                <option>5 Years</option>
                <option>More Than 5</option>
              </select>
            </div>
            <div class="form-group">
              <label>Enter Keyskills</label>
              <textarea name="keyskills" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label>Enter Password</label>
              <input type="password" name="password" required="true" class="form-control">
            </div>
            <div class="form-group"></div>
            </br>
            <input type="submit" value="Register" class="btn btn-info" text-align="center">
            </div>
      </div>
    </div>
</body>

</html>